.card-bg{
    background-color: transparent !important;
    box-shadow: none !important;
}

.panel-secondary{
    .tab-name{
        background-color: white;
        margin-bottom: 20px;
    }

    .tab-content{
        background-color: white;
    }
}
